.doctorItem-title{
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}
.doctor-name{
    font-size: 1.8rem;
    padding-left: 2rem;
    color: var(--header-text-color);
}
.doctorItem-member-container{
    padding:0 3rem 2rem;
    color: rgb(59, 58, 58);
    list-style: none;
}

.doctor-body-container{
    display: flex;
    justify-content: space-between;
}
.doctor-member{
    width: 80%;
}
.doctorItem-member-container li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: rgb(244 244 244);
    padding: 1rem 2rem;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2);
}

.doctorItem_member-name{
    color: rgb(53, 53, 53);
    font-size: 1.2rem;
}

.doctorItem-schedule{
    list-style: none;
    margin-right: 2rem;
}
.doctorItem_schedule-title{
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.doctor_schedule-textbox{
    padding: 1rem 1rem;
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}
p.doctorItem_shedule{
    margin-bottom: 0;
}

.doctorItem-schedule li hr{
    margin: 1rem 0;
}

@media screen and (max-width:1100px){
    .doctor-body-container{
        display: block;
    }
    .doctor-member{
        width: 100%;
    }
}