.schedule_page-container{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}
.schedule_page-container table{
    border-collapse: collapse;
}
.schedule_page-thed{
    background-color: rgb(83, 83, 83);
    color: var(--header-text-color);
    
}
.schedule_page-thed tr th{
    padding: 1rem 2rem;
    font-size: 1.3rem;
    text-align: center;
    border: 2px solid #000000;
}